= f.labeled(:nationality) do
  .shown.ms-0
    = country_select(f.object.class.model_name.param_key,
                      'nationality',
                      { priority_countries: Settings.countries.prioritized,
                        selected: f.object.nationality,
                        include_blank: "" },
                      { class: 'form-select form-select-sm tom-select',
                        data: { placeholder: ' ',
                                chosen_no_results: t('global.chosen_no_results') } })

= f.labeled(:nationality_badminton) do
  .shown.ms-0
    = country_select(f.object.class.model_name.param_key,
                      'nationality_badminton',
                      { priority_countries: Settings.countries.prioritized,
                        selected: f.object.nationality_badminton,
                        include_blank: "" },
                      { class: 'form-select form-select-sm tom-select',
                        data: { placeholder: ' ',
                                chosen_no_results: t('global.chosen_no_results') } })