- #  Copyright (c) 2025, Swiss Badminton. This file is part of
- #  hitobito_swb and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_swb.

- if @group.root? && can?(:index_invoices, @group) && @group.invoice_config.valid?
  = Dropdown::FixedFeesDropdown.new(self, @group).to_s

